* {
    transition: .6s;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8;
    transition: 2s;
}


.header {
    background-image: url(../images/39361ae4-8604-4cc8-a009-5fb9874b787e.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    color: azure;
    vertical-align: middle;

}

/*   Nav    */

.nav {
    padding: 20px;
    top: 0;
    right: 0;
    left: 0;
}

.layout {

    background-color: rgba(0, 0, 0, .85);
    height: 100%;

}

.nav .logo a {
    float: left;
    color: #ff305b;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    letter-spacing: -2px;
    text-decoration: none;
    font-weight: 600;

}

.nav .logo img {
    width: 150px;
}

.nav .links {
    float: right;
}

.nav .links ul li {
    display: inline-block;
    margin: 0 8px;
    padding: 0;
}

.nav .links ul li a {
    text-decoration: none;
    color: #eee;
    font-size: 20px;
}

/*    Nav    */
/*   Hello   */
.hello h2 {
    position: relative;
    padding-left: 5px;
}

.hello .profile-photo .layout {
    height: 0px;
    visibility: hidden;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.hello .profile-photo:hover .layout {
    height: 100%;
    visibility: visible;
}

.hello .profile-photo:hover i {
    color: #777;
}

.hello h2::before {
    content: "";
    position: absolute;
    width: 4px;
    left: -5px;
    height: 30px;
    background-color: #ff305b;
    top: calc((59.4px / 2) - 15px);
}

.profile-icons {
    text-align: center;
    width: 100%;
}

.profile-icons i {
    margin: 10px;
    width: 30px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;

}

.profile-icons i:hover {
    color: #ff305b !important;
    background-color: #fff;
}

.bordered {
    border: 7px solid #444;
    width: 360px;
    /* height: 300px; */
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bordered .profile-photo {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateY(24px) translateX(24px);
    transform: translateY(24px) translateX(24px);
}

.bordered .profile-photo img {
    max-width: 80%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.hello .main-text {
    border-bottom: 1px dashed #000;
}

/*   Hello   */

.col .inner {
    padding: 20px;
}

.hfamily {
    font-family: 'courier new', monospace;
    font-weight: 100;
}

.zfamily {
    font-family: 'Brush Script MT', cursive;
}

.header .content {
    margin: 0 auto;
    height: calc(100% - 108px);
    display: flex;
    align-items: center;
}

.header .content h1 {
    color: #ff305b;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -2px;
    font-size: 76px;
    font-weight: 700;
    margin: 0 auto;
}

.header .content h3 {
    margin: -20px 0;
    font-size: 25px;
}

.header .content .middle-content {
    width: 100%;
}

.header .content button {
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 5px;
    font-family: tahoma, sans-serif;
    margin: 7px;
    letter-spacing: 0px;
    border: 0;
}

.header .content .btn-white {
    background: #caa68d;
    color: #fff;
    border: 2px solid #caa68d;
}

.header .content .btn-white:hover,
.header .content .btn-brown:hover {
    background: #fff;
    color: #666;
    border: 2px solid #fff;
}

.header .content .btn-brown {
    background: transparent;
    color: #ffffff;
    border: 2px solid #fff;
}

.header .content .header-start {
    margin: 0;
    font-family: "Alegreya Sans";
    -webkit-font-smoothing: antialiased;
}

.header .content h1,
.header .content .zfamily {
    max-width: 530px;

}

.dishes {
    text-align: center;
    margin: 30px 0;

}

.cle-fix {
    clear: both;
}

.notnormal {
    font-family: cursive;
}

.dishes .dish {
    width: calc(33.33% - 40px);
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 1px 1px 26px #888888;
}

.dishes .dish img {
    max-width: 100%;
    border-radius: 15px;
}

.who,
.new {
    margin: 100px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.container .who-text,
.container .who-image {
    float: left;
    width: 50%;

}


.container .who-text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

.color-black {
    color: #000;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: teal;
    border-radius: 50%;
    margin: 30px auto;
    margin-bottom: 30px;
}

.col img {
    max-width: 100%;
    margin: 0 auto;
}

.container .col {
    float: left;
    width: 33.33%;
    padding: 10px;

}

/*     Chef         */
.new-page {
    padding: 70px 0 50px;
    color: #777;
}

.side-half {
    float: left;
    width: 50%;

}

.side-half img {
    width: 80%;
    margin-top: 0px;
}

.right-half img {
    float: right;
}

.ver-parent {
    display: flex;
}

.ver-align {
    display: flex;
    align-items: center;
}

.hello .main-text .hello .sub-text {
    width: 100%;
    float: none;
}

.hello .btns a {
    background: #ff305b;
    padding: 16px 30px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    color: #eee;
    text-decoration: none;
}

.hello .btns a:hover {
    background: #ff5778;

}

.hello .sub-text span {
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

.block {
    display: block;
}

.side-half h2 {
    font-size: 33px;
    letter-spacing: 0px;
    word-spacing: -10px;
    font-weight: 100;
    color: #000;
    margin: 0;
    font-weight: 400;
}

.side-half .zfamily {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #C1AB9f;
}

.side-half p,
.side-half ul {
    font-size: 16px;
}

.side-half ul,
.unlisted {
    list-style-type: none;
    padding-left: 0;
}

.side-half ul li {
    margin-bottom: 20px;
}

/* Bakes*/
.cente-align {
    text-align: center;
}

.bakes .container h2 {
    font-size: 30px;
    letter-spacing: -2px;
}

.bakes .container p {
    margin-bottom: 50px;

}

.bakes .container .col h3 {
    font-weight: revert;
}

.bakes .container .col p {
    font-size: 15px;
    max-width: 100%;
    margin: 0 auto;
}

.information .container h3 {
    font-weight: 100;
    color: #222;
}

.information i {
    background-color: #8e7754 !important;
    border: 1px solid #8e7754;
    color: #fff;
}

/* services */
.services {
    text-align: center;
    background-color: #eee;
}

.section-title {
    color: #222;
    font-size: 40px;
    position: relative;

}

.services .col {
    padding-top: 30px;
    width: 25%;
    text-align: center;
    line-height: 1.5;
    border-radius: 7px;
}

.services .col:hover {
    background-color: #fff;
    box-shadow: 1px 2px 25px #999;
}

.services .col:hover i {
    transform: scale(1.2);
}

.section-title::before {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: -9px;
    padding: 4px 0 5px;
    width: 85px;
}

.section-title::after {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0 0 0;
    bottom: -13px;
    padding: 4px 0 5px;
    width: 200px;
}

.services .col i {
    color: #ff305b;
    font-size: 30px;
}

.servicesnd h3 {
    font-size: 33px;
    color: #333;
}

.servicesnd .col:hover {
    background-color: #eee;
    box-shadow: none;
}

/* services */
/*Portfolio*/
.profile {
    text-align: center;
}

.profile .container {
    width: 95%;
}

.profile ul li {
    display: inline-block;
    margin: 15px;
}

.profile .col {
    width: calc(33.33% - 60px);
    max-height: 300;
    overflow: hidden;
    padding: 0;
    margin: 20px;
    position: relative;
}

.profile .col img {
    width: 100%;
}

.profile .layout {
    opacity: 0;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.profile .col:hover .layout {
    opacity: 0.5;
}

.profile i {
    opacity: 0;
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 20px;
    color: #ff305b;
}

.profile .col:hover i {
    opacity: 1;
}

/*Portfolio*/


/*feedback*/
.feedback {
    text-align: center;
    overflow: hidden;
}

.feedback .col1 {
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
}

.feedback-container::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-top: 200px solid #ff305b;
    top: 0;
    left: -200px;
}

.feedback .col3 {
    width: 70%;
    float: right;
    text-align: left;
}

.feedback .feedback-container {
    width: 80%;
    margin: 40PX auto;
    background: #eee;
    position: relative;
    overflow: hidden;
}

.feedback .col1 img {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 69px;
    left: 50px;
    border-radius: 50%;
    z-index: 1000;
}

/*feedback*/

/*blog*/
.blog .col{
    width: 30.33%;
    padding: 0;
    margin-right: 3%;
    background-color: #fff;
    text-align: left;
    color: #444;
}
.blog .col h2{
    font-size: 20px;
    color:#222;
}
.blog .col h3{
    font-size: 16px;
}
.blog .col h2:hover{
    color: #ff305b;

}
.blog .col .contnt{
    padding: 10px;
}
.blog .container{
    width: 90%;
}

/*blog*/
/*Contact*/
.contact{
    text-align: center;
}
.contact .half{
    width:48% ;
}
.contact .left{
    margin-right: 2%;
    float: left;
}
.contact .right{
    margin-left: 2%;
    float: right;
}
.contact .full{
    width: 100%;
}
.contact input, .contact textarea{
    padding: 5px 8px;
    margin-bottom: 30px;
}
.contact .btns a{
    background: #ff305b;
    padding: 16px 30px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    color: #eee;
    text-decoration: none;
}
.contact .container{
    width: 50%;
}
.contact .btns{
    margin: 20px 0;
    text-align: left;
}
/*Contact*/


/*Footer*/
.footer{
    background: #333;
    color: #ccc;
    text-align: center;
}
.footer i{
    margin: 15px;
    font-size: 20px;

}
.footer i:hover{
    color: #ff305b !important;
}
.footer span{
    color: #ff305b;
}


/*Footer*/


/*Flexed*/

.flexed-t {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flexed{
    width: 30%;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}










/*   About   */


/*   About   */
/*  Footer  */


/* Meta */
@media screen and (max-width: 1040px) {
    .container .col {
        width: 50%;
    }
    .blog .col{
        width: 49%;
        margin: 1% 1% 1% 0;
    }
    .col1 , .col3{
        width: 100% !important; 
        padding: 30px;
    }
    .col1{
        height: 200px!important;
    }
    .hello .side-half {
        width: 100%;
        margin: auto;
    }

    .ver-align {
        display: block !important;
    }

    .profile-img {
        width: 100%;
        margin: auto;
    }

    .profile .col {
        width: calc(50% - 60px);
    }

}

@media screen and (max-width:1000px) {
    .hello {}

    .hello .side-half {
        width: 100%;
        margin: auto;
    }

    .ver-parent {
        display: block;
    }

    .header .content h1 {
        font-size: 55px;
    }
    .contact .container{
        width: 75%;
    }
}

@media screen and (max-width:600px) {
    .profile .col {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-height: 500px;
    }
    .contact .half{
        width:100% ;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .contact .container{
        width: 80%;
    }
}

@media screen and (max-width:500px) {
    .container .col {
        width: 100% !important;
    }
    .feedback .container{
        width: 95% !important;
    }
    .feedback-container{
        width: 100% !important;
    }
    .header .links ul {
        display: none;
    }

    .profile .container {
        width: 80%;
    }

    .bordered {
        width: 300px;
    }

    .hello .btns a {
        margin-right: 5px;
        padding: 15px 18px;
    }
}

/* Meta */